* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  overflow-x: hidden;
}

.main-container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.sections-outer-container {
  display: flex;
  height: 100vh;
  width: 200vw;
  transform-origin: center;
  transform: scale(1) translateX(0%);
}

.sec {
  height: 100vh;
  width: 100vw;
  flex-shrink: 0;
}

.sec-0 {
    background-color: gray;
}

.sec-1 {
  background-color: brown;
}

.sec-2 {
  background-color: blueviolet;
    margin-left: 0; /* Will be animated later */
}

.sec-3 {
    background-color: blanchedalmond;
    margin-left: 15vw;
    /* margin-right: -15vw; */
}
